/* CSS Document */

#header
{
height:80px;
width:1360px;

background-color:#008469;
}
#img
{
  margin-top:2px; 
  position:absolute;
  margin-left:10px;
  
    }
#logo
{
color:#FFFFFF;
font-size:25pt;
font-weight:900;
margin-top:20px;
position:absolute;
margin-left:110px;
font-family:Goudy Stout;
}
#lgot
{
    position:absolute;
   margin-top:30px;
margin-left:1270px;
font-size:medium;
color:Silver;
 }
#left
{
height:550px;
width:110px;
background-color:#008469;
float:left;
}
#cnt
{
 padding-top:60px;
height:500px;
width:1040px;
float:left;
border-width:2px;
border-style:solid;
background-color:#c1d7cf;
}
#right
{
border: 2px solid #000000;
    height:560px;
    width:200px;
    float:right;
    border-color:#000000;
border-width:2px;
border-style:solid;
 background-color:#008469;
}
#right marquee ul li a
{
    color:White;
 }
 
#footer
{
height:50px;
width:1360px;
background-color:#008469;

}

#menu
{

}
#menu ul
{
display:inline;
}
#menu ul li
{
display:block;
height:35px;
width:100px;

 -moz-transition:margin-top 2s;
text-align:left;

}
#menu ul li:hover
{
   
  
}
#menu
{
padding-top:70px;
text-decoration:none;
font-size:13pt;
font-weight:600;
color:White;

}
