body
{
    background-color: #EEEEEE;
}
#t1
{
    float: right;
    width: 150px;
    height: 25px;
}

#menu
{   padding-left:122px;
    width: 1220px;
    height: 70px;
    background-color: #008469;
    
}
#menu ul
{
    display: inline;
   
}

#menu ul li
{
    display: inline-block;
    height: 50px;
    width: 183px;
    float: left;
    padding-top: 20px;
    text-align: center;
}
#menu ul li a
{
    text-decoration: none;
    font-size: 14pt;
    color: white;
    font-weight: 900;
    text-align:center;
}
#menu ul li:hover
{
    
    background-color: rgba(0,255,0,0.3);
    width: 185px;
   
}
#menu ul li ul
{
    display: none;
}
#menu ul li:hover ul
{
    display: block;
}
#menu ul li:hover ul li
{
    display: block;
    clear: both;
    background-color: Gray;
}
#wrapper
{
    padding-top:10px;
    background-color: #c1d7cf;
   height:520px;
width:1100px;
    margin-left: 120px;
}
#footer
{
    height: 50px;
    width: 1340px;
    background-color:#008469;
}
